
<div class="container">
  <h2>You’re one step closer to fulfilling your potential…</h2>
  <p>Signing up is easy. It takes about 5-10 mins to do, just follow the prompts as you go and we’ll be in touch soon to confirm your registration.</p>
  <p>You will need to have this info to complete the form:</p>
  <ul>
    <li>Student details</li>
    <li>Parent contact number and address</li>
    <li>School name and address</li>
  </ul>
  <form name="formData" ng-submit="home.submit()" novalidate="novalidate">
    <label for="mobile">Your Mobile Number</label>
    <input id="mobile" ng-model="home.mobile" placeholder="07000 000000" ng-pattern="home.mobileRegex" required="required"/>
    <button type="submit" ng-disabled="formData.$invalid"><span ng-if="formData.$invalid">Enter your mobile number to continue</span><span ng-if="formData.$valid">Next</span></button>
  </form>
</div>