mixin countries(id, model)
  select(id=id ng-model=model required)
    option(value='BE') Belgium
    option(value='CN') China
    option(value='FR') France
    option(value='AE') United Arab Emirates
    option(value='GB') United Kingdom
    option(disabled) ---
    option(value='AF') Afghanistan
    option(value='AX') Åland Islands
    option(value='AL') Albania
    option(value='DZ') Algeria
    option(value='AS') American Samoa
    option(value='AD') Andorra
    option(value='AO') Angola
    option(value='AI') Anguilla
    option(value='AQ') Antarctica
    option(value='AG') Antigua and Barbuda
    option(value='AR') Argentina
    option(value='AM') Armenia
    option(value='AW') Aruba
    option(value='AU') Australia
    option(value='AT') Austria
    option(value='AZ') Azerbaijan
    option(value='BS') Bahamas
    option(value='BH') Bahrain
    option(value='BD') Bangladesh
    option(value='BB') Barbados
    option(value='BY') Belarus
    option(value='BZ') Belize
    option(value='BJ') Benin
    option(value='BM') Bermuda
    option(value='BT') Bhutan
    option(value='BO') Bolivia, Plurinational State of
    option(value='BQ') Bonaire, Sint Eustatius and Saba
    option(value='BA') Bosnia and Herzegovina
    option(value='BW') Botswana
    option(value='BV') Bouvet Island
    option(value='BR') Brazil
    option(value='IO') British Indian Ocean Territory
    option(value='BN') Brunei Darussalam
    option(value='BG') Bulgaria
    option(value='BF') Burkina Faso
    option(value='BI') Burundi
    option(value='KH') Cambodia
    option(value='CM') Cameroon
    option(value='CA') Canada
    option(value='CV') Cape Verde
    option(value='KY') Cayman Islands
    option(value='CF') Central African Republic
    option(value='TD') Chad
    option(value='CL') Chile
    option(value='CX') Christmas Island
    option(value='CC') Cocos (Keeling) Islands
    option(value='CO') Colombia
    option(value='KM') Comoros
    option(value='CG') Congo
    option(value='CD') Congo, the Democratic Republic of the
    option(value='CK') Cook Islands
    option(value='CR') Costa Rica
    option(value='CI') Côte d'Ivoire
    option(value='HR') Croatia
    option(value='CU') Cuba
    option(value='CW') Curaçao
    option(value='CY') Cyprus
    option(value='CZ') Czech Republic
    option(value='DK') Denmark
    option(value='DJ') Djibouti
    option(value='DM') Dominica
    option(value='DO') Dominican Republic
    option(value='EC') Ecuador
    option(value='EG') Egypt
    option(value='SV') El Salvador
    option(value='GQ') Equatorial Guinea
    option(value='ER') Eritrea
    option(value='EE') Estonia
    option(value='ET') Ethiopia
    option(value='FK') Falkland Islands (Malvinas)
    option(value='FO') Faroe Islands
    option(value='FJ') Fiji
    option(value='FI') Finland
    option(value='GF') French Guiana
    option(value='PF') French Polynesia
    option(value='TF') French Southern Territories
    option(value='GA') Gabon
    option(value='GM') Gambia
    option(value='GE') Georgia
    option(value='DE') Germany
    option(value='GH') Ghana
    option(value='GI') Gibraltar
    option(value='GR') Greece
    option(value='GL') Greenland
    option(value='GD') Grenada
    option(value='GP') Guadeloupe
    option(value='GU') Guam
    option(value='GT') Guatemala
    option(value='GG') Guernsey
    option(value='GN') Guinea
    option(value='GW') Guinea-Bissau
    option(value='GY') Guyana
    option(value='HT') Haiti
    option(value='HM') Heard Island and McDonald Islands
    option(value='VA') Holy See (Vatican City State)
    option(value='HN') Honduras
    option(value='HK') Hong Kong
    option(value='HU') Hungary
    option(value='IS') Iceland
    option(value='IN') India
    option(value='ID') Indonesia
    option(value='IR') Iran, Islamic Republic of
    option(value='IQ') Iraq
    option(value='IE') Ireland
    option(value='IM') Isle of Man
    option(value='IL') Israel
    option(value='IT') Italy
    option(value='JM') Jamaica
    option(value='JP') Japan
    option(value='JE') Jersey
    option(value='JO') Jordan
    option(value='KZ') Kazakhstan
    option(value='KE') Kenya
    option(value='KI') Kiribati
    option(value='KP') Korea, Democratic People's Republic of
    option(value='KR') Korea, Republic of
    option(value='KW') Kuwait
    option(value='KG') Kyrgyzstan
    option(value='LA') Lao People's Democratic Republic
    option(value='LV') Latvia
    option(value='LB') Lebanon
    option(value='LS') Lesotho
    option(value='LR') Liberia
    option(value='LY') Libya
    option(value='LI') Liechtenstein
    option(value='LT') Lithuania
    option(value='LU') Luxembourg
    option(value='MO') Macao
    option(value='MK') Macedonia, the former Yugoslav Republic of
    option(value='MG') Madagascar
    option(value='MW') Malawi
    option(value='MY') Malaysia
    option(value='MV') Maldives
    option(value='ML') Mali
    option(value='MT') Malta
    option(value='MH') Marshall Islands
    option(value='MQ') Martinique
    option(value='MR') Mauritania
    option(value='MU') Mauritius
    option(value='YT') Mayotte
    option(value='MX') Mexico
    option(value='FM') Micronesia, Federated States of
    option(value='MD') Moldova, Republic of
    option(value='MC') Monaco
    option(value='MN') Mongolia
    option(value='ME') Montenegro
    option(value='MS') Montserrat
    option(value='MA') Morocco
    option(value='MZ') Mozambique
    option(value='MM') Myanmar
    option(value='NA') Namibia
    option(value='NR') Nauru
    option(value='NP') Nepal
    option(value='NL') Netherlands
    option(value='NC') New Caledonia
    option(value='NZ') New Zealand
    option(value='NI') Nicaragua
    option(value='NE') Niger
    option(value='NG') Nigeria
    option(value='NU') Niue
    option(value='NF') Norfolk Island
    option(value='MP') Northern Mariana Islands
    option(value='NO') Norway
    option(value='OM') Oman
    option(value='PK') Pakistan
    option(value='PW') Palau
    option(value='PS') Palestinian Territory, Occupied
    option(value='PA') Panama
    option(value='PG') Papua New Guinea
    option(value='PY') Paraguay
    option(value='PE') Peru
    option(value='PH') Philippines
    option(value='PN') Pitcairn
    option(value='PL') Poland
    option(value='PT') Portugal
    option(value='PR') Puerto Rico
    option(value='QA') Qatar
    option(value='RE') Réunion
    option(value='RO') Romania
    option(value='RU') Russian Federation
    option(value='RW') Rwanda
    option(value='BL') Saint Barthélemy
    option(value='SH') Saint Helena, Ascension and Tristan da Cunha
    option(value='KN') Saint Kitts and Nevis
    option(value='LC') Saint Lucia
    option(value='MF') Saint Martin (French part)
    option(value='PM') Saint Pierre and Miquelon
    option(value='VC') Saint Vincent and the Grenadines
    option(value='WS') Samoa
    option(value='SM') San Marino
    option(value='ST') Sao Tome and Principe
    option(value='SA') Saudi Arabia
    option(value='SN') Senegal
    option(value='RS') Serbia
    option(value='SC') Seychelles
    option(value='SL') Sierra Leone
    option(value='SG') Singapore
    option(value='SX') Sint Maarten (Dutch part)
    option(value='SK') Slovakia
    option(value='SI') Slovenia
    option(value='SB') Solomon Islands
    option(value='SO') Somalia
    option(value='ZA') South Africa
    option(value='GS') South Georgia and the South Sandwich Islands
    option(value='SS') South Sudan
    option(value='ES') Spain
    option(value='LK') Sri Lanka
    option(value='SD') Sudan
    option(value='SR') Suriname
    option(value='SJ') Svalbard and Jan Mayen
    option(value='SZ') Swaziland
    option(value='SE') Sweden
    option(value='CH') Switzerland
    option(value='SY') Syrian Arab Republic
    option(value='TW') Taiwan, Province of China
    option(value='TJ') Tajikistan
    option(value='TZ') Tanzania, United Republic of
    option(value='TH') Thailand
    option(value='TL') Timor-Leste
    option(value='TG') Togo
    option(value='TK') Tokelau
    option(value='TO') Tonga
    option(value='TT') Trinidad and Tobago
    option(value='TN') Tunisia
    option(value='TR') Turkey
    option(value='TM') Turkmenistan
    option(value='TC') Turks and Caicos Islands
    option(value='TV') Tuvalu
    option(value='UG') Uganda
    option(value='UA') Ukraine
    option(value='US') United States
    option(value='UM') United States Minor Outlying Islands
    option(value='UY') Uruguay
    option(value='UZ') Uzbekistan
    option(value='VU') Vanuatu
    option(value='VE') Venezuela, Bolivarian Republic of
    option(value='VN') Viet Nam
    option(value='VG') Virgin Islands, British
    option(value='VI') Virgin Islands, U.S.
    option(value='WF') Wallis and Futuna
    option(value='EH') Western Sahara
    option(value='YE') Yemen
    option(value='ZM') Zambia
    option(value='ZW') Zimbabwe

mixin nationality(id, model)
  select(id=id ng-model=model required)
    option(value='belgian') Belgian
    option(value='british') British
    option(value='chinese') Chinese
    option(value='emirian') Emirian
    option(value='french') French
    option(value='indian') Indian
    option(value='pakistani') Pakistani
    option(disabled) ---
    option(value='afghan') Afghan
    option(value='albanian') Albanian
    option(value='algerian') Algerian
    option(value='american') American
    option(value='andorran') Andorran
    option(value='angolan') Angolan
    option(value='antiguans') Antiguans
    option(value='argentinean') Argentinean
    option(value='armenian') Armenian
    option(value='australian') Australian
    option(value='austrian') Austrian
    option(value='azerbaijani') Azerbaijani
    option(value='bahamian') Bahamian
    option(value='bahraini') Bahraini
    option(value='bangladeshi') Bangladeshi
    option(value='barbadian') Barbadian
    option(value='barbudans') Barbudans
    option(value='batswana') Batswana
    option(value='belarusian') Belarusian
    option(value='belizean') Belizean
    option(value='beninese') Beninese
    option(value='bhutanese') Bhutanese
    option(value='bolivian') Bolivian
    option(value='bosnian') Bosnian
    option(value='brazilian') Brazilian
    option(value='bruneian') Bruneian
    option(value='bulgarian') Bulgarian
    option(value='burkinabe') Burkinabe
    option(value='burmese') Burmese
    option(value='burundian') Burundian
    option(value='cambodian') Cambodian
    option(value='cameroonian') Cameroonian
    option(value='canadian') Canadian
    option(value='cape verdean') Cape Verdean
    option(value='central african') Central African
    option(value='chadian') Chadian
    option(value='chilean') Chilean
    option(value='colombian') Colombian
    option(value='comoran') Comoran
    option(value='congolese') Congolese
    option(value='costa rican') Costa Rican
    option(value='croatian') Croatian
    option(value='cuban') Cuban
    option(value='cypriot') Cypriot
    option(value='czech') Czech
    option(value='danish') Danish
    option(value='djibouti') Djibouti
    option(value='dominican') Dominican
    option(value='dutch') Dutch
    option(value='east timorese') East Timorese
    option(value='ecuadorean') Ecuadorean
    option(value='egyptian') Egyptian
    option(value='equatorial guinean') Equatorial Guinean
    option(value='eritrean') Eritrean
    option(value='estonian') Estonian
    option(value='ethiopian') Ethiopian
    option(value='fijian') Fijian
    option(value='filipino') Filipino
    option(value='finnish') Finnish
    option(value='gabonese') Gabonese
    option(value='gambian') Gambian
    option(value='georgian') Georgian
    option(value='german') German
    option(value='ghanaian') Ghanaian
    option(value='greek') Greek
    option(value='grenadian') Grenadian
    option(value='guatemalan') Guatemalan
    option(value='guinea-bissauan') Guinea-Bissauan
    option(value='guinean') Guinean
    option(value='guyanese') Guyanese
    option(value='haitian') Haitian
    option(value='herzegovinian') Herzegovinian
    option(value='honduran') Honduran
    option(value='hungarian') Hungarian
    option(value='icelander') Icelander
    option(value='indonesian') Indonesian
    option(value='iranian') Iranian
    option(value='iraqi') Iraqi
    option(value='irish') Irish
    option(value='israeli') Israeli
    option(value='italian') Italian
    option(value='ivorian') Ivorian
    option(value='jamaican') Jamaican
    option(value='japanese') Japanese
    option(value='jordanian') Jordanian
    option(value='kazakhstani') Kazakhstani
    option(value='kenyan') Kenyan
    option(value='kittian and nevisian') Kittian and Nevisian
    option(value='kuwaiti') Kuwaiti
    option(value='kyrgyz') Kyrgyz
    option(value='laotian') Laotian
    option(value='latvian') Latvian
    option(value='lebanese') Lebanese
    option(value='liberian') Liberian
    option(value='libyan') Libyan
    option(value='liechtensteiner') Liechtensteiner
    option(value='lithuanian') Lithuanian
    option(value='luxembourger') Luxembourger
    option(value='macedonian') Macedonian
    option(value='malagasy') Malagasy
    option(value='malawian') Malawian
    option(value='malaysian') Malaysian
    option(value='maldivan') Maldivan
    option(value='malian') Malian
    option(value='maltese') Maltese
    option(value='marshallese') Marshallese
    option(value='mauritanian') Mauritanian
    option(value='mauritian') Mauritian
    option(value='mexican') Mexican
    option(value='micronesian') Micronesian
    option(value='moldovan') Moldovan
    option(value='monacan') Monacan
    option(value='mongolian') Mongolian
    option(value='moroccan') Moroccan
    option(value='mosotho') Mosotho
    option(value='motswana') Motswana
    option(value='mozambican') Mozambican
    option(value='namibian') Namibian
    option(value='nauruan') Nauruan
    option(value='nepalese') Nepalese
    option(value='new zealander') New Zealander
    option(value='ni-vanuatu') Ni-Vanuatu
    option(value='nicaraguan') Nicaraguan
    option(value='nigerien') Nigerien
    option(value='north korean') North Korean
    option(value='northern irish') Northern Irish
    option(value='norwegian') Norwegian
    option(value='omani') Omani
    option(value='palauan') Palauan
    option(value='panamanian') Panamanian
    option(value='papua new guinean') Papua New Guinean
    option(value='paraguayan') Paraguayan
    option(value='peruvian') Peruvian
    option(value='polish') Polish
    option(value='portuguese') Portuguese
    option(value='qatari') Qatari
    option(value='romanian') Romanian
    option(value='russian') Russian
    option(value='rwandan') Rwandan
    option(value='saint lucian') Saint Lucian
    option(value='salvadoran') Salvadoran
    option(value='samoan') Samoan
    option(value='san marinese') San Marinese
    option(value='sao tomean') Sao Tomean
    option(value='saudi') Saudi
    option(value='scottish') Scottish
    option(value='senegalese') Senegalese
    option(value='serbian') Serbian
    option(value='seychellois') Seychellois
    option(value='sierra leonean') Sierra Leonean
    option(value='singaporean') Singaporean
    option(value='slovakian') Slovakian
    option(value='slovenian') Slovenian
    option(value='solomon islander') Solomon Islander
    option(value='somali') Somali
    option(value='south african') South African
    option(value='south korean') South Korean
    option(value='spanish') Spanish
    option(value='sri lankan') Sri Lankan
    option(value='sudanese') Sudanese
    option(value='surinamer') Surinamer
    option(value='swazi') Swazi
    option(value='swedish') Swedish
    option(value='swiss') Swiss
    option(value='syrian') Syrian
    option(value='taiwanese') Taiwanese
    option(value='tajik') Tajik
    option(value='tanzanian') Tanzanian
    option(value='thai') Thai
    option(value='togolese') Togolese
    option(value='tongan') Tongan
    option(value='trinidadian or tobagonian') Trinidadian or Tobagonian
    option(value='tunisian') Tunisian
    option(value='turkish') Turkish
    option(value='tuvaluan') Tuvaluan
    option(value='ugandan') Ugandan
    option(value='ukrainian') Ukrainian
    option(value='uruguayan') Uruguayan
    option(value='uzbekistani') Uzbekistani
    option(value='venezuelan') Venezuelan
    option(value='vietnamese') Vietnamese
    option(value='welsh') Welsh
    option(value='yemenite') Yemenite
    option(value='zambian') Zambian
    option(value='zimbabwean') Zimbabwean

mixin ethnicity(id, model)
  select(id=id ng-model=model)
    option(value='1') Asian or Asian British - Bangladeshi
    option(value='2') Black or Black British - Caribbean
    option(value='3') Black or Black British - African
    option(value='4') Other Black Background
    option(value='5') Chinese
    option(value='6') Other Asian Background
    option(value='7') Asian or Asian British - Pakistani
    option(value='8') Mixed - White & Black Caribbean
    option(value='9') White - British
    option(value='10') Other Ethnic Background
    option(value='11') Not-Stated
    option(value='12') Asian or Asian British - Indian
    option(value='13') Mixed - White & Black African
    option(value='14') Mixed - White & Asian
    option(value='15') Other Mixed Background
    option(value='16') Other White Background
    option(value='17') White - Irish

