doctype html
html(ng-app="app")
  head
    title Small Piece Trust Application Form
    link(href="css/custom.min.css" rel="stylesheet")
    meta(name='viewport', content='width=device-width, initial-scale=1')
    //- Fonts
    link(href="https://fonts.googleapis.com/css?family=Lato" rel="stylesheet")
    //- Scripts
    script(src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.15/angular.min.js")
    script(src="https://cdnjs.cloudflare.com/ajax/libs/angular-ui-router/0.2.18/angular-ui-router.min.js")
    script(src="js/app.min.js?v=1.0.1")
  body
    .banner
      h1.banner__header Application
    ui-view
