
<div class="container">
  <form name="formData" ng-submit="form.nextForm('additional')" novalidate="novalidate">
    <h2>{{ form.data.CourseAppliedFor }}</h2>
    <fieldset>
      <legend>Additional Information</legend>
      <label ng-bind="form.data.AdditionalInformation[0].question = 'Please tell us why you want to go on this work experience. This is the main deciding feature of this form so use your words wisely.'"></label>
      <textarea ng-model="form.data.AdditionalInformation[0].answer" rows="5" required="required"></textarea><small>{{ form.data.AdditionalInformation[0].answer.split(' ').length || '0' }} / 150 words</small>
      <label ng-bind="form.data.AdditionalInformation[1].question = 'Please tell us a little about your hobbies and interests'"></label>
      <textarea ng-model="form.data.AdditionalInformation[1].answer" rows="5" required="required"></textarea><small>{{ form.data.AdditionalInformation[1].answer.split(' ').length || '0' }} / 150 words</small>
      <label ng-bind="form.data.AdditionalInformation[2].question = 'Have you any thoughts about what career you would to follow when you are older, and why?'"></label>
      <textarea ng-model="form.data.AdditionalInformation[2].answer" rows="5" required="required"></textarea><small>{{ form.data.AdditionalInformation[2].answer.split(' ').length || '0'  }} / 150 words</small>
      <label ng-bind="form.data.AdditionalInformation[3].question = 'Please name any other youth organisations of which you are a member'"></label>
      <input type="text" ng-model="form.data.AdditionalInformation[3].answer"/>
      <label ng-bind="form.data.AdditionalInformation[4].question = 'Have you been on any previous RAF STEM residential courses?'"></label>
      <label class="radio">
        <input type="radio" value="yes" ng-model="form.data.AdditionalInformation[4].answer" required="required"/>Yes
      </label>
      <label class="radio">
        <input type="radio" value="no" ng-model="form.data.AdditionalInformation[4].answer" required="required"/>No
      </label>
      <label ng-bind="form.data.AdditionalInformation[5].question = 'Do you have any learning difficulties, e.g. dyslexia?'"></label>
      <label class="radio">
        <input type="radio" value="yes" ng-model="form.data.AdditionalInformation[5].answer" required="required"/>Yes
      </label>
      <label class="radio">
        <input type="radio" value="no" ng-model="form.data.AdditionalInformation[5].answer" required="required"/>No
      </label>
      <label ng-bind="form.data.AdditionalInformation[6].question = 'If yes, please give details here'"></label>
      <textarea ng-model="form.data.AdditionalInformation[6].answer" value="N/A"></textarea>
      <label ng-bind="form.data.AdditionalInformation[7].question = 'Do you have any special dietary requirements?'"></label>
      <label class="radio">
        <input type="radio" value="yes" ng-model="form.data.AdditionalInformation[7].answer" required="required"/>Yes
      </label>
      <label class="radio">
        <input type="radio" value="no" ng-model="form.data.AdditionalInformation[7].answer" required="required"/>No
      </label>
      <label ng-bind="form.data.AdditionalInformation[8].question = 'If yes, please give details here'"></label>
      <textarea ng-model="form.data.AdditionalInformation[8].answer"></textarea>
    </fieldset>
    <button ui-sref="form.school()" type="button">Go Back</button>
    <button type="submit" ng-disabled="formData.$invalid"><span ng-if="formData.$invalid">Complete the required fields to continue</span><span ng-if="formData.$valid">Next</span></button>
  </form>
</div>