include ./../../_mixins.pug

.container
  form(name="formData" ng-submit="form.nextForm('applicant')" novalidate)
    h2 {{ form.data.CourseAppliedFor }}
    fieldset
      legend Student Details
      label(for="FirstName") First Name
      input(id="FirstName" type="text" ng-model="form.data.FirstName" required)
      label(for="Surname") Last Name
      input(id="Surname" type="text" ng-model="form.data.Surname" required)
      label(for="dob") Date of Birth
      input(id="dob" type="text" ng-model="form.data.DOB" placeholder="dd/mm/yyyy" maxlength=10 required ng-pattern="form.dateRegex")
      label Gender
      label.radio
        input(type="radio" ng-model="form.data.Gender" value="Male" required)
        | Male
      label.radio
        input(type="radio" ng-model="form.data.Gender" value="Female" required)
        | Female
      label(for="SchoolYear") Year Group
      select(id="SchoolYear" ng-model="form.data.SchoolYear" required)
        option(value="" disabled) Choose an option…
        option(value="Year 8") Year 8
        option(value="Year 9") Year 9
        option(value="Year 10") Year 10
        option(value="Year 11") Year 11
        option(value="Year 12") Year 12
    fieldset
      label(for="address") Address
      input(id="address" type="text" ng-model="form.data.Address" required)
      small Address Line 1
      input(type="text" ng-model="form.data.Address1" required)
      small Town
      input(type="text" ng-model="form.data.Address2" required)
      small County
      label(for="Postcode") Postcode
      input(id="Postcode" type="text" ng-model="form.data.Postcode" required)
      label(for="Country") Country
      +countries("Country", "form.data.Country")
    fieldset
      label(for="Nationality") Nationality
      +nationality("Nationality", "form.data.Nationality")
      label(for="Ethnicity") Ethnicity
      +ethnicity("Ethnicity", "form.data.Ethnicity")
      small Optional
      label(for="Email") Email Address
      input(id="Email" type="Email" ng-model="form.data.Email" required)
      label(for="Mobile") Mobile Phone
      input(id="Mobile" type="tel" ng-model="form.data.Mobile" readonly)
      label(for="Tel") Home Phone
      input(id="Tel" type="tel" ng-model="form.data.Tel")
      small Optional
    button(ui-sref="home" type="button") Cancel
    button(type="submit" ng-disabled="formData.$invalid")
      span(ng-if="formData.$invalid") Complete the required fields to continue
      span(ng-if="formData.$valid") Next
