include ./../../_mixins.pug

.container
  form(name="formData" ng-submit="form.nextForm('invoice')" novalidate)
    h2 {{ form.data.CourseAppliedFor }}
    fieldset
      legend Invoicing
      label(for="invoiceDetails") Select the invoicing details
      select(id="invoiceDetails" ng-model="form.data.InvoiceType" required)
        option(value="" disabled) Choose an option…
        option(value="Parent") Use parent/guardian's name and address
        option(value="School") Use school’s name and address
        option(value="Other" ) Other
      div(ng-if="form.data.InvoiceType == '0'")
        label(for="FirstName") First Name
        input(id="FirstName" type="text" ng-model="form.data.InvoiceFirstName" required)
        label(for="Surname") Last Name
        input(id="Surname" type="text" ng-model="form.data.InvoiceSurname" required)
        label(for="organisation") Organisation
        input(id="organisation" type="text" ng-model="form.data.InvoiceOrganisation")
        small Optional
        fieldset
          label(for="invoiceAddress") Invoicing Address
          input(id="address" type="text" ng-model="form.data.InvoiceAddress" required)
          small Address Line 1
          input(type="text" ng-model="form.data.InvoiceAddress1" required)
          small Town
          input(type="text" ng-model="form.data.InvoiceAddress2" required)
          small County
          label(for="Postcode") Postcode
          input(id="Postcode" type="text" ng-model="form.data.InvoicePostcode" required)
          label(for="Country") Country
          +countries("Country", "form.data.Country")
    button(ui-sref="form.parent({id: form.data.CourseID})" type="button") Go Back
    button(type="submit" ng-disabled="formData.$invalid")
      span(ng-if="formData.$invalid") Complete the required fields to continue
      span(ng-if="formData.$valid") Next
