include ./../../_mixins.pug

.container
  form(name="formData" ng-submit="form.nextForm('parent')" novalidate)
    h2 {{ form.data.CourseAppliedFor }}
    fieldset
      legend Parent/Guardian Details
      label(for="guardianTitle") Parent/Guardian Title
      input(id="guardianTitle" type="text" ng-model="form.data.ParentTitle" required)
      label(for="FirstName") First Name
      input(id="FirstName" type="text" ng-model="form.data.ParentFirstName" required)
      label(for="Surname") Last Name
      input(id="Surname" type="text" ng-model="form.data.ParentSurname" required)
      label Is your parent/guardian living at the same address?
      label.radio
        input(type="radio" ng-model="form.data.ParentSameAddress" ng-value="1")
        | Yes
      label.radio
        input(type="radio" ng-model="form.data.ParentSameAddress" ng-value="0")
        | No
    fieldset(ng-if="!form.data.ParentSameAddress")
      label(for="address") Address
      input(id="address" type="text" ng-model="form.data.ParentAddress" required)
      small Address Line 1
      input(type="text" ng-model="form.data.ParentAddress1" required)
      small Town
      input(type="text" ng-model="form.data.ParentAddress2" required)
      small County
      label(for="Postcode") Postcode
      input(id="Postcode" type="text" ng-model="form.data.ParentPostcode" required)
      label(for="Country") Country
      +countries("Country", "form.data.ParentCountry")
    fieldset
      label(for="Email") Email Address
      input(id="Email" type="Email" ng-model="form.data.ParentEmail" required)
      label(for="Mobile") Mobile Phone
      input(id="Mobile" type="tel" ng-model="form.data.ParentMobile" required)
      label(for="Tel") Daytime Phone
      input(id="Tel" type="tel" ng-model="form.data.ParentTelephone")
      small Optional
    button(ui-sref="form.applicant({id: form.data.CourseID})" type="button") Go Back
    button(type="submit" ng-disabled="formData.$invalid")
      span(ng-if="formData.$invalid") Complete the required fields to continue
      span(ng-if="formData.$valid") Next
