.container

  form(name="formData" ng-submit="form.submit()" novalidate)
    h2 {{ form.data.CourseAppliedFor }}
    fieldset
      legend Review and Submit
      h3 Your Details
      p
        b First Name:
        |  {{ form.data.FirstName }}
      p
        b Last Name:
        |  {{ form.data.Surname }}
      p
        b Date of Birth:
        |  {{ form.data.DOB }}
      p
        b Year Group:
        |  {{ form.data.SchoolYear }}
      p
        b Address 1:
        |  {{ form.data.Address }}
      p
        b Town:
        |  {{ form.data.Address1 }}
      p
        b County:
        |  {{ form.data.Address2 }}
      p
        b Postcode:
        |  {{ form.data.Postcode }}
      p
        b Country:
        |  {{ form.data.Country }}
      //- p
      //-   b Nationality:
      //-   |  {{ form.data.Nationality }}
      //- p(ng-if="form.data.Ethnicity")
      //-   b Ethnicity:
      //-   |  {{ form.data.Ethnicity }}
      p
        b Email:
        |  {{ form.data.Email }}
      p
        b Mobile:
        |  {{ form.data.Mobile }}
      p(ng-if="form.data.Tel")
        b Daytime Phone:
        | {{ form.data.Tel }}

      hr
      h3 Parent/Guardian's Details
      p
        b Title:
        |  {{ form.data.ParentTitle }}
      p
        b First Name:
        |  {{ form.data.ParentFirstName }}
      p
        b Last Name:
        |  {{ form.data.ParentSurname }}
      p
        b Same Address:
        |  {{ form.data.ParentSameAddress ? 'Yes' : 'No' }}
      div(ng-if="!form.data.ParentSameAddress")
        p
          b Address 1:
          |  {{ form.data.ParentAddress }}
        p
          b Town:
          |  {{ form.data.ParentAddress1 }}
        p
          b County:
          |  {{ form.data.ParentAddress2 }}
        p
          b Postcode:
          |  {{ form.data.ParentPostcode }}
        p
          b Country:
          |  {{ form.data.ParentCountry }}
      p
        b Email:
        |  {{ form.data.ParentEmail }}
      p
        b Mobile:
        |  {{ form.data.ParentMobile }}
      p(ng-if="form.data.ParentTelephone")
        b Daytime Phone:
        |  {{ form.data.ParentTelephone }}
      hr
      h3 School Details
      p
        b Type:
        |  {{ form.data.SchoolType }}
      div(ng-if="form.data.SchoolType !== 'Homeschooled'")
        p
          b Name:
          |  {{ form.data.SchoolName }}
        p
          b Address 1:
          |  {{ form.data.SchoolAddress }}
        p
          b Town:
          |  {{ form.data.SchoolAddress1 }}
        p
          b County:
          |  {{ form.data.SchoolAddress2 }}
        p
          b Postcode:
          |  {{ form.data.SchoolPostcode }}
        p
          b Country:
          |  {{ form.data.SchoolCountry }}
        p
          b Who is your Science or Technology Teacher?:
          |  {{ form.data.TeacherTitle }} {{ form.data.TeacherSurname }}
        p
          b Teacher's Email:
          |  {{ form.data.TeacherEmail }}
      div(ng-if="!form.data.AdditionalFields")
        hr
        h3 Invoicing
        p
          b Invoice to:
          |  {{ form.data.InvoiceType }}
        div(ng-if="form.data.InvoiceType == 0")
          p
            b First Name:
            |  {{ form.data.InvoiceFirstName }}
          p
            b Last Name:
            |  {{ form.data.InvoiceSurname }}
          p
            b Address 1:
            |  {{ form.data.InvoiceAddress }}
          p
            b Town:
            |  {{ form.data.InvoiceAddress1 }}
          p
            b County:
            |  {{ form.data.InvoiceAddress2 }}
          p
            b Postcode:
            |  {{ form.data.InvoicePostcode }}
          p
            b Country:
            |  {{ form.data.InvoiceCountry }}
      div(ng-if="form.data.AdditionalFields")
        hr
        h3 Additional Questions
        p(ng-repeat="question in form.data.AdditionalInformation")
          b {{ question.question }}
          br
          | {{ question.answer }}

      label.radio
        input(type="checkbox" ng-model="form.data.OptOutEmailContact")
        | Tick this box if you do not want to receive updates from us by Email.
      label.radio
        input(type="checkbox" ng-model="form.data.ParentAccept" required)
        | Tick here to confirm that your Parent/Guardian agrees.
      label.radio
        input(type="checkbox" ng-model="form.data.TCAccept" required)
        | Tick here to confirm you agree to our
        a(href="https://www.smallpeicetrust.org.uk/wp-content/uploads/2016/10/termsandconditions.pdf" target="_blank")  terms and conditions
        | .
    .error(ng-if="form.error") There was an error when submitting your application.
    div(ng-hide="form.error")
      button(ng-if="form.data.AdditionalFields" ui-sref="form.additional({id: form.data.CourseID})" type="button") Go back
      button(ng-if="!form.data.AdditionalFields" ui-sref="form.invoice({id: form.data.CourseID})" type="button") Go back
      button(type='submit', ng-disabled="formData.$invalid || form.submitted")
        span(ng-if='!form.submitted') Submit
        span(ng-if='form.submitted')
          i.fa.fa-cog.fa-spin.fa-fw
          |   Sending application, please wait…
