include ./../../_mixins.pug

.container
  form(name="formData" ng-submit="form.nextForm('school')" novalidate)
    h2 {{ form.data.CourseAppliedFor }}
    fieldset
      legend School Details
      label(for="schoolInst") Select Educational Institution
      select(id="schoolInst" ng-model="form.data.SchoolType" required)
        option(value="" disabled) Choose an option…
        option(value="State School") State School
        option(value="Independent School") Independent School
        option(value="Homeschooled") Homeschooled
    fieldset(ng-if="form.data.SchoolType && form.data.SchoolType !== 'Homeschooled'")
      label(for="SchoolName") School Name
      input(id="SchoolName" type="input" ng-model="form.data.SchoolName" required)
      label(for="schoolAddress") School Address
      input(id="address" type="text" ng-model="form.data.SchoolAddress" required)
      small Address Line 1
      input(type="text" ng-model="form.data.SchoolAddress1" required)
      small Town
      input(type="text" ng-model="form.data.SchoolAddress2" required)
      small County
      label(for="Postcode") Postcode
      input(id="Postcode" type="text" ng-model="form.data.SchoolPostcode" required)
      label(for="Country") Country
      +countries("Country", "form.data.Country")
      fieldset(ng-if="form.data.SchoolType !== 'Homeschooled'")
        label Who is your Science or Technology Teacher?
        //- select(id="TeacherTitle" ng-model="form.data.TeacherTitle" required)
        //-   option(value="" disabled) Choose an option…
        //-   option(value="Mr") Mr
        //-   option(value="Mrs") Mrs
        //-   option(value="Ms") Ms
        input(type="text" ng-model="form.data.TeacherTitle" required)
        small Teacher's Title
        input(id="Surname" type="text" ng-model="form.data.TeacherSurname" required)
        small Teacher's Last Name
        //- label(for="TeacherPosition") Teacher's Job Title
        //- input(id="TeacherPosition" type="text" ng-model="form.data.TeacherPosition" required)
        //- small What subject is your teacher teaching you?
        label(for="TeacherEmail") Teacher's/School Email Address
        input(id="TeacherEmail" type="text" ng-model="form.data.TeacherEmail")
        small Optional
    button(ui-sref="form.parent({id: form.data.CourseID})" type="button") Go Back
    button(type="submit" ng-disabled="formData.$invalid")
      span(ng-if="formData.$invalid") Complete the required fields to continue
      span(ng-if="formData.$valid") Next
