.banner {
    background: url("../img/banners/banner.jpg") no-repeat center;
    background-size: cover;
    display: table;
    height: 232px;
    text-align: center;
    width: 100%;
}

    .banner__header {
        color: #fff;
        display: table-cell;
        font-size: 48px;
        font-weight: 700;
        margin-bottom: 0;
        vertical-align: middle;
    }
