
<ui-view autoscroll="false"></ui-view>
<div class="save">
  <p>You can save your application and return to it any time in the next 48 hours.</p><small>After 48 hours your application will be reset and you will have start again.</small>
  <button type="submit" ng-click="form.save()">Save for Later</button>
</div>