[type="button"],
[type="submit"] {
    border: none;
    cursor: pointer;
    font-size: 18px;
}

// Generic button
[type="button"] {
    background: none;
    margin-right: 10px;
}

// Submit button
[type="submit"] {
    background-color: #00629c;
    border-radius: 50px;
    color: #fff;
    margin-top: 20px;
    padding: 15px 30px;
}

// Disabled button
:disabled {
    cursor: not-allowed;
	opacity: .5;
	transition: none;
}
