input,
select,
textarea {
    background-color: rgba(2, 119, 189, .7);
    border: 1px solid #ccc;
    border-radius: 4px;
    color: #fff;
    font-family: inherit;
    font-size: inherit;
    font-weight: inherit;
    margin-bottom: 20px;
    padding: 10px;
    width: 100%;

    &.ng-invalid {
        border-color: #b94a48;
    }
}

input,
select {
    height: 50px;
}

select {
    -webkit-appearance: none;
    appearance: none;
    background-image: url("../img/icons/chevron-down.png");
    background-size: 16px;
    background-repeat: no-repeat;
    background-position: center right 14px;
}

[type="radio"],
[type="checkbox"] {
    height: auto;
    margin-bottom: 8px;
    margin-right: 10px;
    vertical-align: middle;
    width: auto;
}
