legend,
label {
    display: block;
    font-weight: bold;
}

legend {
    border-top: 2px solid #e8e8e8;
    font-size: 30px;
    margin-bottom: 40px;
    padding-top: 20px;
    width: 100%;
}

label {
    font-size: 20px;
    line-height: 25px;
    margin-bottom: 10px;

    &.is-required {
        &:after {
            color: #b94a48;
            content: " *";
        }
    }
}

.radio {
    font-weight: normal;

    &:last-child {
        margin-bottom: 15px;
    }
}
