.container
  form(name="formData" ng-submit="form.nextForm('additional')" novalidate)
    h2 {{ form.data.CourseAppliedFor }}
    fieldset
      legend Additional Information

      label(ng-bind="form.data.AdditionalInformation[0].question = 'Please tell us why you want to go on this work experience. This is the main deciding feature of this form so use your words wisely.'")
      textarea(ng-model="form.data.AdditionalInformation[0].answer" rows=5 required)
      small {{ form.data.AdditionalInformation[0].answer.split(' ').length || '0' }} / 150 words

      label(ng-bind="form.data.AdditionalInformation[1].question = 'Please tell us a little about your hobbies and interests'")
      textarea(ng-model="form.data.AdditionalInformation[1].answer" rows=5 required)
      small {{ form.data.AdditionalInformation[1].answer.split(' ').length || '0' }} / 150 words

      label(ng-bind="form.data.AdditionalInformation[2].question = 'Have you any thoughts about what career you would to follow when you are older, and why?'")
      textarea(ng-model="form.data.AdditionalInformation[2].answer" rows=5 required)
      small {{ form.data.AdditionalInformation[2].answer.split(' ').length || '0'  }} / 150 words

      label(ng-bind="form.data.AdditionalInformation[3].question = 'Please name any other youth organisations of which you are a member'")
      input(type="text" ng-model="form.data.AdditionalInformation[3].answer")

      label(ng-bind="form.data.AdditionalInformation[4].question = 'Have you been on any previous RAF STEM residential courses?'")
      label.radio
        input(type="radio" value="yes" ng-model="form.data.AdditionalInformation[4].answer" required)
        | Yes
      label.radio
        input(type="radio" value="no" ng-model="form.data.AdditionalInformation[4].answer" required)
        | No

      label(ng-bind="form.data.AdditionalInformation[5].question = 'Do you have any learning difficulties, e.g. dyslexia?'")
      label.radio
        input(type="radio" value="yes" ng-model="form.data.AdditionalInformation[5].answer" required)
        | Yes
      label.radio
        input(type="radio" value="no" ng-model="form.data.AdditionalInformation[5].answer" required)
        | No

      label(ng-bind="form.data.AdditionalInformation[6].question = 'If yes, please give details here'")
      textarea(ng-model="form.data.AdditionalInformation[6].answer" value="N/A")

      label(ng-bind="form.data.AdditionalInformation[7].question = 'Do you have any special dietary requirements?'")
      label.radio
        input(type="radio" value="yes" ng-model="form.data.AdditionalInformation[7].answer" required)
        | Yes
      label.radio
        input(type="radio" value="no" ng-model="form.data.AdditionalInformation[7].answer" required)
        | No

      label(ng-bind="form.data.AdditionalInformation[8].question = 'If yes, please give details here'")
      textarea(ng-model="form.data.AdditionalInformation[8].answer" )

    button(ui-sref="form.school()" type="button") Go Back
    button(type="submit" ng-disabled="formData.$invalid")
      span(ng-if="formData.$invalid") Complete the required fields to continue
      span(ng-if="formData.$valid") Next
