body {
    color: #444;
    font-family: "Lato", sans-serif;
    font-size: 18px;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

h1, h2, h3, h4, h5, h6 {
    font-size: 16px;
    font-weight: 600;
    margin-bottom: 30px;
}

h1 {
    font-size: 40px;
}

h2 {
    font-size: 38px;
}

h3 {
    font-size: 20px;
}

a {
    color: #0277bd;
    text-decoration: none;
}

p {
    line-height: 25px;
    margin-bottom: 20px;
}

small {
    color: #666;
    display: block;
    font-size: 12px;
    margin-bottom: 10px;
    position: relative;
        top: -10px;
}

b {
    font-weight: 700;
}
