.container
  h2 You’re one step closer to fulfilling your potential…
  p Signing up is easy. It takes about 5-10 mins to do, just follow the prompts as you go and we’ll be in touch soon to confirm your registration.
  p You will need to have this info to complete the form:
  ul
    li Student details
    li Parent contact number and address
    li School name and address


  form(name="formData" ng-submit="home.submit()" novalidate)
    label(for="mobile") Your Mobile Number
    input(id="mobile" ng-model="home.mobile" placeholder="07000 000000" ng-pattern="home.mobileRegex" required)
    button(type="submit" ng-disabled="formData.$invalid")
      span(ng-if="formData.$invalid") Enter your mobile number to continue
      span(ng-if="formData.$valid") Next
