// Base
@import "base/reset.scss";
@import "base/base.scss";
@import "base/layout.scss";
@import "base/typography.scss";
@import "base/list.scss";

// Components
@import "components/banner.scss";

// Forms
@import "forms/text.scss";
@import "forms/button.scss";
@import "forms/field.scss";
@import "forms/save.scss";

.error {
  background-color: #e74c3c;
  color: #fff;
  padding: 20px;
  text-align: center;
}
